RAG/rag-pinecone-gemini-gdrive.json
{
  "name": "rag-agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Add your file here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "fa774080-5aa1-45ad-aee3-9feeda984a38",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        112,
        240
      ],
      "webhookId": "4e1e20d4-f759-42c8-8439-87b93f43aa7c",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "aefb2c4b-b269-44b3-a027-4068ce49b7c6",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        528,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "ff3b1f20-8985-4f9e-8744-cc7988815b4d",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        544,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Data Ingestion\n**Add data to the semantic database",
        "height": 620,
        "width": 840,
        "color": 3
      },
      "id": "36800926-35a0-47cf-b603-078c5a24b0a1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dd28ad2e-1a2f-47d8-8cc6-67d2e559547a",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1008,
        432
      ],
      "webhookId": "5e56a263-3a40-44bd-bc9d-1cfb3bc2a87d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": ""
        }
      },
      "id": "fc8ccc1d-6d92-449f-b431-3e33500a7f97",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1648,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "cfaea555-c7b6-4429-845e-959280937a6b",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1600,
        464
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## RAG Chatbot\n**Chat with your data",
        "height": 668,
        "width": 1200,
        "color": 4
      },
      "id": "ac083ece-de65-417b-b0c3-98daca993e67",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "da5f83ce-87d1-4b10-a51d-ef64d6e455e0",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        992,
        240
      ],
      "id": "c6e5f884-2dd2-4d0f-aa14-71ec6ccf16b8",
      "name": "Webhook",
      "webhookId": "da5f83ce-87d1-4b10-a51d-ef64d6e455e0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a2b131f-846c-4ce9-836b-2e9d6c406d26",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "7c6842c0-8db6-4844-ab56-b80e5e437b6c",
              "name": "action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "32d88615-e3ee-43d1-802d-5096b524a07f",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        240
      ],
      "id": "433979d9-539e-4d7f-8dde-fbaf38247fdb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "google-embeddings-index",
          "mode": "list",
          "cachedResultName": "google-embeddings-index"
        },
        "embeddingBatchSize": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        240
      ],
      "id": "97093151-c294-4537-b9a2-4f33bd2ad056",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Xj8jbXVMhU1ufmRn",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        912,
        656
      ],
      "id": "db41f075-d613-40c8-8502-ab6c21f9639b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "v5c9vssQ0NyFQbuW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve data from a semantic database to answer questions",
        "pineconeIndex": {
          "__rl": true,
          "value": "google-embeddings-index",
          "mode": "list",
          "cachedResultName": "google-embeddings-index"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1808,
        496
      ],
      "id": "9a0465d9-8545-4f01-b326-ae5f2c3fcc5e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "Xj8jbXVMhU1ufmRn",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1424,
        464
      ],
      "id": "3bbc4161-38a0-4ffa-b79e-4e7b59091897",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "v5c9vssQ0NyFQbuW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1hxMqe9K8QUy6OswvPKoueNQDNZFxRAN2",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hxMqe9K8QUy6OswvPKoueNQDNZFxRAN2"
        },
        "event": "folderUpdated"
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        112,
        432
      ],
      "id": "27cf8809-014f-4c40-b846-57d00a3d9ab4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "If0fivrxwd07dkLX",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ab6c60b6-9ce4-4763-816e-2febff7d0aff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdb2f1f77556f7a0a3d4dbf45301d78b5dfc2521fa128cb59dab569188d2a6eb"
  },
  "id": "DlF92aoZ2RWxaRXf",
  "tags": []
}